.liveDashboard {
  display: flex;
  margin: 10rem 0;
}

.text {
  align-self: center;
  text-align: left;
}

.text > h1 {
  color: #ff9416;
  margin: 0 0 2rem 0;
}

.text > p > span {
  color: #f8e3b4;
  font-weight: 800;
}

.colorModes {
  align-self: center;
  position: relative;
  overflow-y: hidden;
  margin-right: -50vw;
}


.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media only screen and (max-width: 620px) {
  .liveDashboard {
    flex-direction: column;
  }
  .colorModes {
    margin-right: 0;
  }

  .text {
    text-align: center;
  }
}
