.scrolledContent {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
}

.mainHeader {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.sticky {
  padding: 0 1rem;
  margin-top: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  border-bottom: none;
  -webkit-box-shadow: inset 0px 50px 50px -23px #4d3009;
  box-shadow: inset 0px 50px 50px -23px #4d3009;
}

.nav {
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 16rem;
}

.overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: #282828;
  border-radius: 0rem 0rem 1rem 1rem;
}

.login {
  -webkit-appearance: none;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  transition: 0.3s;
}

.login:hover {
  color: #ff9416;
}

.register {
  font-size: 1rem;
  color: white;
  background-color: #ff9416;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  transition: 0.3s;
}

.register:hover {
  background-color: #bb6d13;
}

.register {
  display: flex;
}

.register > div {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 750px) {
  .mainHeader {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
