

.scrolledContent {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
}

.mainHeader {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: #f7e2b3 1px solid;
}

.sticky {
  margin-top: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  border-bottom: none;
  -webkit-box-shadow: inset 0px 50px 50px -23px #4d3009;
  box-shadow: inset 0px 50px 50px -23px #4d3009;
}

.nav {
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 16rem;
}

.login {
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  outline: 1px solid #ff9416;
}

.register {
  font-size: 1rem;
  color: white;
  background-color: #ff9416;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
}

.register {
  display: flex;
}

.register > div {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
