.allSpeedSection {
  position: relative;
  padding: 5vh;
}

.allSpeedContainer {
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: rgb(8, 8, 8);
  border-radius: 2vw;
  padding: 5%;
}

.allSpeedItems {
  display: flex;
}

.text {
  align-self: center;
  text-align: center;
}

.text > h1 {
  color: #ff9416;
  margin: 0 0 2rem 0;
}

.image {
  position: relative;
  overflow-y: hidden;
  align-self: center;
  transform: scaleX(-1);
  margin-left: -40vw;
  max-width: 1900px;
}

.text > p > span {
  color: #f8e3b4;
  font-weight: 800;
}

@media only screen and (max-width: 914px) {
  .allSpeedSection {
    padding: 0vw;
    margin-top: 5vh;
  }
  .allSpeedContainer {
    max-width: 95vw;
    padding: 1%;
    margin: 0 auto;
  }
  .allSpeedItems {
    flex-direction: column;
  }
  .image {
    order: 2;
    margin-left: 0;
    align-self: center;
  }

  .text {
    text-align: center;
  }

  .text > h1 {
    margin-bottom: 1rem;
  }

  .text > p {
    margin-bottom: 1rem;
  }
}
