.allSpeed {
  display: flex;
  overflow: visible;
}

.text > h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #ff9416;
  margin: 10rem 0 2rem 0;
  text-align: right;
}

.text > p {
  font-size: 2rem;
  text-align: right;
}

.image {
  transform: scaleX(-1);
  margin-left: -40vw;
}

.text > p > span {
    color: #f8e3b4;
    font-weight: 800;
}
