.container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.LoginAndSignUp {
  background-color: grey;
  padding: 5rem;
  white-space: nowrap;
  border-radius: 1rem
}
